* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* size, color */
:root {
  /* border-radius */
  --small-border-radius: 4px;
  --medium-border-radius: 8px;
  --large-border-radius: 12px;

  /* font-size */
  --xx-small-font: 12px;
  --x-small-font: 14px;
  --small-font: 16px;
  --medium-font: 18px;
  --large-font: 20px;
  --x-large-font: 24px;
  --xx-large-font: 32px;
  --xxx-large-font: 48px;
  --xxxx-large-font: 64px;
  --xxxxx-large-font: 128px;

  /* font-style - color, family */
  --font-color: #313130;
  --font-lobster: "Lobster", cursive;
  --font-arimo: "Arimo", sans-serif;
  --font-righteous: "Righteous", cursive;
  --font-playfair: "Playfair Display", serif;

  /* icon-size */
  --small-icon: 12px;
  --medium-icon: 16px;
  --large-icon: 24px;
  --x-large-icon: 32px;
  --xx-large-icon: 48px;

  /* margin */
  --small-margin-radius: 4px;
  --medium-margin-radius: 8px;
  --large-margin-radius: 12px;
  --medium-margin: 16px;
  --large-margin: 24px;
  --x-large-margin: 32px;
  --xx-large-margin: 48px;
  --xxx-large-margin: 64px;

  /* padding */
  --small-padding-radius: 4px;
  --medium-padding-radius: 8px;
  --large-padding-radius: 12px;
  --medium-padding: 16px;
  --large-padding: 24px;
  --x-large-padding: 32px;
  --xx-large-padding: 48px;
  --xxx-large-padding: 64px;

  /* background-color */
  --bg-color: #f4fcff;
  --blue-color: #2a9be9;
}

body {
  background-color: #f4f7f6;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-arimo);
}

/* sidenav */
.sidenav {
  position: fixed;
  z-index: 950;

  width: 0;
  height: 100%;

  overflow-x: hidden;

  top: 0;
  left: 0;
  background-color: hsl(0 0% 0% / 24%);

  display: grid;

  grid-template-columns: 350px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "menu blind";

  transition: 0.5s;
}

.sidenav .menu {
  grid-area: menu;
  width: 350px;
  height: 100%;

  background-color: var(--bg-color);
}

.sidenav .menu .title {
  font-size: 25px;

  text-align: center;

  padding: var(--xx-large-padding) 0px;

  color: var(--font-color);
  font-size: var(--xx-large-font);
  font-family: var(--font-righteous);
}

.sidenav .menu nav {
  width: 100%;
  height: 240px;

  display: flex;
  flex-direction: column;

  padding: 0px var(--x-large-padding);
}

.sidenav .menu nav li {
  width: min-content;
  height: 25%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidenav .menu nav li img {
  width: var(--large-icon);
  height: var(--large-icon);
}

.sidenav .menu nav li a {
  font-size: var(--medium-font);
  color: var(--font-color);

  padding-left: var(--x-large-padding);
}

.sidenav .blind {
  grid-area: blind;

  flex: 1;
  height: 100%;
}

#layout {
  width: 100%;
  height: auto;
}

/* header */
header {
  position: fixed;

  width: 100%;
  height: 70px;

  display: flex;

  border-bottom: 1px solid #dfdfdf;
}

header .hamburger {
  width: 130px;
  height: 100%;

  font-size: var(--x-small-font);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 var(--x-large-padding);

  border-right: 1px solid #eeebeb;
}

header .hamburger img {
  width: var(--medium-icon);
  height: var(--medium-icon);
}

header .logo {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: var(--x-large-font);
  font-weight: bold;

  font-family: var(--font-righteous);
}

/* slide */
.slide {
  position: absolute;

  width: 100%;
  height: 700px;

  margin-top: 70px;

  overflow: hidden;
}

.slide .mySlides {
  position: relative;

  height: 100%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: calc(100% / 3);
  grid-template-areas:
    "a b"
    "a c"
    "a c";
}

.mySlides .left {
  grid-area: a;
  background-color: #d8dde3;
}
.mySlides .right-top {
  grid-area: b;
  background-color: #5f76a8;
}
.mySlides .right-bottom {
  grid-area: c;
}
.mySlides .right-bottom > img {
  width: 100%;
  height: 100%;
}

.mySlides .back-title {
  position: absolute;

  color: #fff;
  font-size: var(--xxxxx-large-font);
  font-family: var(--font-playfair);

  top: 40%;
  left: 3%;
}

.mySlides .blind {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: hsl(0 0% 0% / 50%);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: white;
  font-size: 30px;

  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
