* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* size, color */
:root {
  /* border-radius */
  --small-border-radius: 4px;
  --medium-border-radius: 8px;
  --large-border-radius: 12px;

  /* font-size */
  --xx-small-font: 12px;
  --x-small-font: 14px;
  --small-font: 16px;
  --medium-font: 18px;
  --large-font: 20px;
  --x-large-font: 24px;
  --xx-large-font: 32px;
  --xxx-large-font: 48px;
  --xxxx-large-font: 64px;
  --xxxxx-large-font: 128px;

  /* font-style - color, family */
  --font-color: #313130;
  --font-slider-color: #49c5b6;
  --font-lobster: "Lobster", cursive;
  --font-arimo: "Arimo", sans-serif;
  --font-righteous: "Righteous", cursive;
  --font-playfair: "Playfair Display", serif;
  --font-abel: "Abel", sans-serif;

  /* icon-size */
  --small-icon: 12px;
  --medium-icon: 16px;
  --large-icon: 22px;
  --x-large-icon: 32px;
  --xx-large-icon: 36px;
  --xxx-large-icon: 48px;

  /* margin */
  --small-margin: 4px;
  --medium-margin: 8px;
  --large-margin: 12px;
  --medium-margin: 16px;
  --large-margin: 24px;
  --x-large-margin: 32px;
  --xx-large-margin: 48px;
  --xxx-large-margin: 64px;

  /* padding */
  --small-padding: 4px;
  --medium-padding: 8px;
  --large-padding: 12px;
  --medium-padding: 16px;
  --large-padding: 24px;
  --x-large-padding: 32px;
  --xx-large-padding: 48px;
  --xxx-large-padding: 64px;

  /* background-color */
  --bg-color: #f4fcff;
  --blue-color: #2a9be9;
  --blind-color: hsl(0 0% 0% / 45%);
}

body {
  background-color: #f4f7f6;
  overflow-x: hidden;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-arimo);
}

/* sidenav */
.sidenav {
  position: fixed;
  z-index: 950;

  width: 0;
  height: 100%;

  overflow-x: hidden;

  top: 0;
  left: 0;
  background-color: hsl(0 0% 0% / 24%);

  display: grid;

  grid-template-columns: 350px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "menu blind";

  transition: all 0.5s;
}

.sidenav .menu {
  grid-area: menu;
  width: 350px;
  height: 100%;

  background-color: var(--bg-color);
}

.sidenav .menu .title {
  font-size: 25px;

  text-align: center;

  padding: var(--xx-large-padding) 0px;

  color: var(--font-color);
  font-size: var(--xx-large-font);
  font-family: var(--font-righteous);
}

.sidenav .menu nav {
  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: column;

  padding: 0px var(--x-large-padding);
}

.sidenav .menu nav li {
  width: min-content;
  height: 25%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidenav .menu nav li img {
  width: var(--large-icon);
  height: var(--large-icon);
}

.sidenav .menu nav li a {
  font-size: var(--medium-font);
  color: var(--font-color);

  padding-left: var(--x-large-padding);
}

.sidenav .blind {
  grid-area: blind;

  flex: 1;
  height: 100%;
}

#layout {
  width: 100%;
  height: auto;
}

/* header */
header {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  display: flex;

  border-bottom: 1px solid #dfdfdf;

  background-color: #f4f7f6;

  z-index: 300;
}

header .hamburger {
  width: 130px;
  height: 100%;

  font-size: var(--x-small-font);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 var(--x-large-padding);

  border-right: 1px solid #eeebeb;

  cursor: pointer;
}

header .hamburger img {
  width: var(--medium-icon);
  height: var(--medium-icon);
}

header .logo {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: var(--x-large-font);
  font-weight: bold;

  font-family: var(--font-righteous);
}

/* slide */
#slider {
  position: relative;

  padding-top: 70px;

  width: 100%;
  height: 100%;
}

#slider ul {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#slider ul li {
  position: relative;
  float: left;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a b"
    "a c"
    "a c";
}

#slider ul li .left {
  grid-area: a;
  background-color: #d8dde3;
}

#slider ul li .right-top {
  background-color: #5f76a8;
  grid-area: b;
}
#slider ul li .right-bottom {
  grid-area: c;
}
#slider ul li .right-bottom > img {
  width: 100%;
  height: 100%;
}

#slider ul li .back-title,
.back-title2,
.back-title3 {
  position: absolute;

  left: 2%;

  color: #fff;
  font-size: var(--xxxxx-large-font);
  font-family: var(--font-playfair);
}

.back-title {
  top: 5%;
}
.back-title2 {
  top: 15%;
}
.back-title3 {
  top: 30%;
}

#slider ul li .blind {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--blind-color);
  transition: all 0.3s;
}

#slider ul li .blind:hover {
  background-color: hsl(0 0% 0% / 55%);
  cursor: pointer;
}

#slider .btn {
  position: absolute;
  right: 8%;
  bottom: 10%;

  width: 80px;

  z-index: 2;

  display: flex;
  justify-content: space-between;
}

a.control_next,
a.control_prev {
  font-size: var(--medium-font);
  color: #f2f2f4;
  cursor: pointer;

  width: var(--xx-large-icon);
  height: var(--xx-large-icon);
  border: 2px solid #f2f2f4;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
}

a.control_next:hover,
a.control_prev:hover {
  border: 2px solid var(--font-slider-color);
  color: var(--font-slider-color);


}

#slider .date-title {
  position: absolute;

  z-index: 2;

  top: 20%;
  left: 3.5%;

  color: #fff;

  font-size: var(--small-font);
  font-family: var(--font-playfair);
}
#slider .date-title b {
  color: var(--font-slider-color);
  cursor: pointer;
}

#slider .main {
  z-index: 2;

  position: absolute;

  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

#slider .main .main-title {
  color: #fff;

  font-size: var(--xxx-large-font);
  font-family: var(--font-righteous);
}

#slider .main .sub-title {
  color: var(--font-slider-color);

  font-size: var(--medium-font);
  font-weight: lighter;
}

/* circle  */
.row {
  display: flex;
  justify-content: space-between;
  margin-top: var(--large-margin);
}

.row #circle {
  padding: 0px var(--medium-padding);
}

.row div p {
  color: #fff;
  font-weight: lighter;
  font-size: var(--x-small-font);

  padding-top: var(--small-padding);
}

.progress {
  width: 75px;
  height: 75px;
  position: relative;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress.html .progress-left .progress-bar {
  animation: loading-2 1.3s linear forwards 1.8s;
}
.progress.css .progress-left .progress-bar {
  animation: loading-3 1.3s linear forwards 1.8s;
}

.progress.js .progress-left .progress-bar {
  animation: loading-4 1.2s linear forwards 1.8s;
}

.progress.react .progress-left .progress-bar {
  animation: loading-6 1.2s linear forwards 1.8s;
}

.progress.jsp .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}

.progress.html .progress-bar {
  border-color: #de4b25;
}

.progress.css .progress-bar {
  border-color: #254bde;
}

.progress.js .progress-bar {
  border-color: #1abc9c;
}
.progress.react .progress-bar {
  border-color: #5ed4f4;
}

.progress.jsp .progress-bar {
  border-color: #df6c1e;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@keyframes loading-6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

/* tool */
#tool {
  height: 280px;

  border-bottom: 1px solid #e6eaea;
}

#tool .tool-box {
  width: 60%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

#tool .tool-box .top {
  height: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#tool .tool-box .top .tool-title {
  font-size: var(--x-large-font);
  color: #1f2121;

  font-family: var(--font-abel);
}

#tool .tool-box .bottom {
  height: 60%;
}

#tool .tool-box .bottom span,
#tool .tool-box .bottom .tag-bottom li {
  border: 1px solid #1f2121;
  border-radius: 36px;

  color: #202121;
  font-weight: lighter;
  font-family: var(--font-abel);

  padding: 5px 20px;
  margin: var(--small-margin);
}

#tool .tool-box .bottom span:hover {
  border: 1px solid var(--font-slider-color);
  color: var(--font-slider-color);

  transition: all 0.3s;
}

#tool .tool-box .bottom .tag-top,
#tool .tool-box .bottom .tag-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tool .tool-box .bottom .tag-bottom li {
  width: var(--x-large-icon);
  height: var(--x-large-icon);
  padding: 0;
  border: 0;
}

#tool .tool-box .bottom .tag-bottom .a {
  background-color: #2779a7;
}
#tool .tool-box .bottom .tag-bottom .b {
  background-color: #7f8285;
}

/* project */
#project {
  max-height: 1020px;
  height: auto;

  overflow: hidden;

  width: 90%;
  margin: 0 auto;
}

#project .title {
  text-align: center;

  font-size: var(--x-large-font);
  color: #1f2121;

  font-family: var(--font-abel);

  margin-top: var(--xxx-large-margin);
  margin-bottom: var(--x-large-margin);
}

#project .tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

#project .tab div {
  width: 100px;
  height: 35px;

  display: flex;
  justify-content: center;

  font-size: var(--small-font);
  font-family: var(--font-abel);
  font-weight: lighter;
}

#project .tab div.active {
  font-weight: bold;
  border-bottom: 3px solid #1f2121;
}

#First,
#Second,
#Third {
  display: grid;
}

#project .tabcontent {
  width: 100%;
  height: 800px;

  margin-top: var(--x-large-margin);
  margin-bottom: 26px;
}

#project #All {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

#project #First,
#project #Second,
#project #Third {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

#project .tabcontent div {
  position: relative;
  background-color: rgba(0, 0, 0, 0.12);
  overflow: hidden;

  cursor: pointer;
}

#project .tabcontent div > img {
  width: 100%;
  height: 100%;
}

#project .tabcontent div .blind {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: var(--blind-color);

  z-index: 2;

  display: none;
}
